body {
    background-color: #292643;

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #dbcfd9;
}

/*
    Apricot: #E99E75
    Fiord: #44426E
    Rum: #776483
    Shady Lady: #BBAAB8
    Ebony Clay: #292643
*/

#cimsor {
    background-color: #776483;
    color: #E99E75;

    position: fixed;
    
    width: 100%;
    height: 5em;

    left: 0;
    top: 0;

    padding: 0;

    box-shadow: #100e1a 0 0 10px 0;
}

#cimsor h1 {
    padding: 0 4%;
    font-weight: bold;
}

#bemutatkozas {
    margin: auto;
    margin-top: 8rem;
    padding: 0 2rem 0 2rem;
    max-width: fit-content;
    font-size: larger;
    border: #44426E solid 5px;
    border-radius: 20px;
    background-color: #44426E;
    box-shadow: #100e1a 0 0 40px 0;
    z-index: 2;
}

#bemutatkozas img {
    margin: 2rem 2rem 2rem 0;
    width: 6rem;
    float: left;
    border: #44426E solid 1px;
    border-radius: 10px;
}

#bemutatkozas h2 {
    color: #E99E75;
}